<h1>Hi, I'm <a href="/my_pet/<%= @my_pet.id %>"><%= @my_pet.name %></a> </h1>
<ul class="list-group">
  <li class="list-group-item food-level">Food: <%= @my_pet.food_level %></li>
  <li class="list-group-item sleep-level">Sleep: <%= @my_pet.sleep_level %></li>
  <li class="list-group-item activity-level">Activity: <%= @my_pet.activity_level %></li>
</ul>
<% if @my_pet.is_alive %>
<ul class="list-group">
  <li class="list-group-item pet-eat">
    <a href="/my_pet/<%= @my_pet.id %>/eat">Feed me</a>
  </li>
  <li class="list-group-item pet-sleep">
    <a href="/my_pet/<%= @my_pet.id %>/sleep">Put me to sleep</a>
  </li>
  <li class="list-group-item pet-play">
    <a href="/my_pet/<%= @my_pet.id %>/play">Play with me</a>
  </li>
</ul>

<% else %>
  <h2><%= @my_pet.name %> is gone. You have been neglectful</h2>
<% end %>
